@using Microsoft.AspNetCore.Http;
@if (Context.Session.GetString("SessionUser") == null)
{
    <li class="nav-item">
        <a class="nav-link text-success" asp-area="" asp-controller="Account" asp-action="SignIn">Giriş</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-danger" asp-area="" asp-controller="Account" asp-action="SignUp">Kaydol</a>
    </li>
}
else
{

    <li class="nav-item">
        <a class="nav-link text-info userId" data-user_id="@Context.Session.GetInt32("SessionUserId")" >Merhaba @Context.Session.GetString("SessionUser")</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="SignOut">Çıkış yap</a>
    </li>
}

